.stage-wrapper {
  position: relative;
}

.stage {
  width: calc(420px + 2px);
  height: calc(320px + 2px);
  border: 1px solid var(--ui-black-transparent);
  border-radius: var(--space);
  position: relative;
  overflow: hidden;
  background: var(--ui-white);
}

.small-stage {
  width: calc(280px + 2px);
  height: calc(240px + 2px);
}
